<%= render 'banner' %>
<div class = "container">
  <div>
    <%= image_tag "1000_F_250572421_anWhtrqtGXLOZcmv2DAZmGL0zT9wx82O.jpg", height:"100px;", width:"100px;"%>
  </div>

  <div>
    <h3><%= @movie.title  %></h3>
    <p><%=  @movie.year  %></p>
    <p><%=  @movie.genre  %></p>
    <p><%=  @movie.country  %></p>
    <p><%=  @movie.description  %></p>
  </div>

</div>
